In [116]:
import pandas as pd

data = pd.read_csv('Assessor_Parcels_Data_-_2016.csv')

data_chunk = data.head(1000)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [117]:
data_chunk.to_csv(“losangelesdata.csv”)

SyntaxError: invalid character in identifier (<ipython-input-117-a859aa85f15c>, line 1)

In [106]:
data_first = data[['netTaxableValue', 'Bathrooms', 'Bedrooms', 'SQFTmain', 'YearBuilt', 'ZIPcode', 'GeneralUseType']]

In [19]:
data_first.ZIPcode.unique()

array(['91505-3254', '91505-3252', '91505-3661', ..., '91335-1550',
       '91335-1413', '91335-1424'], dtype=object)

In [107]:
data_first = data_first[data_first.GeneralUseType == 'Residential']

In [108]:
data_first = data_first[data_first['Bathrooms'] >= 1]
data_first = data_first[data_first['netTaxableValue'] >= 25000]

In [88]:
data_first.head().T

                           0            1           2           3           4
netTaxableValue          387       304575       54029      108498      108498
Bathrooms                  0            0           0           0           0
Bedrooms                   0            0           0           0           0
SQFTmain                   0            0           0           0           0
YearBuilt                  0            0           0           0           0
ZIPcode
GeneralUseType   Residential  Residential  Commercial  Commercial  Commercial

In [109]:
data_first["ZIPcode"] = data_first["ZIPcode"].str.replace("-", "")
data_first["ZIPcode"] = data_first["ZIPcode"].astype(str).str[:5]

data_first = data_first.dropna()

In [79]:
data_first['ZIPcode'].head()

93    91505
94    91505
95    91505
96    91505
97    91505
Name: ZIPcode, dtype: object

In [110]:
data_first['ZIPcode'] = pd.to_numeric(data_first['ZIPcode'], errors='coerce')


data_first = data_first.dropna()

In [111]:
import numpy as np 
import pandas as pd 
from sklearn.feature_selection import f_regression, SelectKBest 
from sklearn. linear_model import Ridge 
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
!pip install pyzillow

numeric_data = data_first[['Bathrooms', 'Bedrooms', 'SQFTmain', 'YearBuilt', 'ZIPcode']]
y_variables = data_first[['netTaxableValue']] 

X = numeric_data
y = y_variables


X_train, X_val, y_train, y_val = train_test_split(X, y)

from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score, mean_squared_error

# fit model using train datasets
model = LinearRegression()
model.fit(X_train, y_train)

# Create new predictions using x_test
y_pred = model.predict(X_val)

# Measure Accuracy using y_test and y_pred
RMSE = (np.sqrt(mean_squared_error(y_val, y_pred)))
R2 = r2_score(y_val, y_pred)

linear_reg = LinearRegression().fit(X, y)
linear_reg.score(X, y)
linear_reg.coef_

linear_reg = LinearRegression().fit(X, y)
linear_reg.score(X, y)
linear_reg.coef_

RMSE = (np.sqrt(mean_squared_error(y_val, y_pred)))
R2 = r2_score(y_val, y_pred)

print (R2)

linear_reg.predict(X[['Bathrooms', 'Bedrooms', 'SQFTmain', 'YearBuilt', 'ZIPcode']])

bath_predict = 2
beds_predict = 4
Sqft_predict = 1800
year_predict = 1950
code_predict = 91505


test_case = np.array([[bath_predict, beds_predict, Sqft_predict, year_predict, code_predict]])
linear_reg.predict(test_case)
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults
address = '1107 N Rose St Burbank, CA'
zipcode = '91505'
zillow_data = ZillowWrapper('X1-ZWz1gyajrkda8b_76gmj')
deep_search_response = zillow_data.get_deep_search_results(address,zipcode)
result = GetDeepSearchResults(deep_search_response)



prediction = linear_reg.predict(test_case)
print_results = str(prediction)

print('Your "fair market value: ', '$', print_results)
print('Your Zestimate: ', '$', result.zestimate_amount)

Requirement already satisfied: pyzillow in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (0.5.5)
Requirement already satisfied: requests in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pyzillow) (2.20.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->pyzillow) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->pyzillow) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->pyzillow) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->pyzillow) (2.6)
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
0.5323885031544184
Your "fair market value:  $ [[320628.21899134]]
Your Zestimate:  $ 827814